@import '../common/styles/sass/variables';

.headerContainer {
  position: absolute;
  width: 100%;
  height: 122px;
  display: flex;
  align-items: center;

  .header {
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: 999;
    //height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1200px) {
      justify-content: flex-end;
    }
  }

  .headerFixed {
    position: fixed;
    backdrop-filter: blur(15px);
    background-color: rgba(33, 36, 40, .871);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    height: 90px;

    a {
      opacity: .5;
    }
  }
}
