@import './src/common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.block {
  //border: 1px solid red;
  padding: 100px 0 100px 0;
  position: relative;

  .container {
    //border: 1px solid;
    @include container();
    padding: 0 15px;
    @include flex(column, center, center, wrap);

    .form {
      //border: 1px solid red;
      background-color: $elementBgColor;
      box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
      width: 100%;
      margin-top: 30px;
      padding: 20px;
      border-radius: 10px;
      @include flex(column, normal, normal, nowrap);
      @media (min-width: 480px) {
        padding: 30px;
      }
      @media (min-width: 768px) {
        width: 80%;
      }
      @media (min-width: 992px) {
        width: 60%;
        margin-top: 50px;
      }
      @media (min-width: 1200px) {
        width: 50%;
      }

      .title {
        color: #a0a8b3;
        @include fontFamily($fontSecondary, 500);
        @include fontSize(12px, 22px);
        letter-spacing: 1px;
        margin-bottom: 14px;
        text-transform: uppercase;
      }

      .input {
        @include input();

        &:focus {
          outline: 2px solid #ff014f;
          box-shadow: none;
          color: #e4e6ea;
        }
      }

      .textarea {
        @include input();
        padding: 10px 15px;
        min-height: 235px;
        resize: none;

        &:focus {
          outline: 2px solid #ff014f;
          box-shadow: none;
          color: #e4e6ea;
        }
      }
    }
  }

  &::after {
    @include bottomLine();
  }
}

