@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.block {
  //border: 1px solid red;
  padding: 100px 0 100px 0;
  position: relative;

  .footerContainer {
    //border: 1px solid;
    text-align: center;
    min-height: 200px;
    @include container();
    padding: 0 15px;
    @include flex(column, space-between, center, wrap);
  }

  &::after {
    @include bottomLine();
  }
}