.skillsBlock {
  .skillsContainer {
    flex-direction: column;

    .skills {
      //border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
