.skillsBlock {
    background-color: cadetblue;
}

.skillsContainer {
    flex-direction: column;
}

.title {
    background-color: aliceblue;
    margin: 10px 0;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
