.skillsBlock {
  //border: 3px solid red;
  padding: 100px 0 100px 0;
  position: relative;
  @media screen and (max-width: 360px) {
    padding: 80px 0 80px 0;
  }

  .skillsContainer {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    @media screen and (max-width: 360px) {
      width: 100%;
    }

    .skillsWrapper {
      border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: center;
      //align-items: start;
      flex-wrap: wrap;
    }
  }

  &::after {
    position: absolute;
    width: 80rem;
    height: 1px;
    background-color: #121415;
    bottom: 0;
    content: '';
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
