.mainBlock {
    height: 100vh;
    background-color: azure;
}

.greeting {
    width: 300px;
    background-color: beige;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: beige;
}
