@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.button {
  position: relative;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  border: 0;
  border-radius: 6px;
  @include fontFamily($fontPrimary, 500);
  font-size: 14px;
  color: $colorPrimary;
  padding: 15px 35px;
  cursor: pointer;
  transition: $transition;
  filter: blur(0);


  &::before {
    @include hoveredElement(6px);
  }

  &:hover {
    transform: translateY(-5px);

    &::before {
      opacity: 1;
    }
  }
}


