@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.form {
  background-color: $elementBgColor;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  @include flex(column, normal, normal, nowrap);
  @media (max-width: 480px) {
    padding: 20px;
  }

  .loadingWrapper {
    display: flex;
    align-items: center;

    .loadingCircular {
      color: $colorPrimary;
    }

    .loadingMessage {
      margin-left: 10px;
    }
  }
}