.projectContainer {
    width: 450px;
    min-height: 417px;
    background-color: #1f2125;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    transition: 0.4s;
}

.projectContainer:hover {
    background-color: #17191d;
    transition: 0.4s;
}

.imageContainer {
    width: 100%;
    min-height: 293px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: 0.4s;
}

.imgPlus {
    display: inline-block;
    overflow: hidden;
    transition: 0.4s;
}

.imageContainer:hover {
    transform: scale(1.1);
    transition: 0.4s;

}

.link {
    cursor: pointer;
}

.descriptionContainer {
    padding-top: 18px;
}

.title {
    padding-bottom: 10px;
    color: #ff014f;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.description {
    width: fit-content;
    color: #c4cfde;
    transition: 0.4s;
    font-size: 23px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.description:hover {
    color: #ff014f;
    transition: 0.4s;
}