@import '../common/styles/sass/variables';

.nav {
  font-family: $fontSecondary;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  margin-right: 0;
  filter: blur(0);
  @media screen and (min-width: 1200px) {
    margin-right: 100px;
  }

  &:hover {
    a {
      opacity: .5;
    }
  }

  a {
    color: $textColor;
    text-decoration: none;
    margin: 10px 5px;
    padding: 5px 10px;
    transition: $transition;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: white;
    }
  }

  .active {
    opacity: 1 !important;
    color: white;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}
