@import '../common/styles/sass/variables';

.nav {
  font-family: $fontSecondary;
  font-size: 13px;
  font-weight: 400;
  //border: 1px solid;
  display: flex;
  margin-right: 0;
  @media screen and (min-width: 500px) {
    margin-right: 100px;
  }

  &:hover {
    a {
      opacity: .5;
    }
  }

  a {
    color: $textColor;
    text-decoration: none;
    margin: 10px 5px;
    padding: 5px 10px;
    transition: $transition;

    &:hover {
      opacity: 1;
      color: white;
    }
  }
}
