@mixin fontFamily($fontFamily, $fontWeight) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
}

@mixin fontSize($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin container() {
  margin: 0 auto;
  @media (min-width: 576px) {
    max-width: 540px;
    padding: 0 15px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1310px;
  }
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin input() {
  background-color: #191b1e;
  box-shadow: 1px 4px 2px -3px rgba(0, 0, 0, .7) inset, -1px -3px 3px -2px hsla(0, 0%, 100%, .2) inset;
  height: 55px;
  padding: 0 15px;
  margin-bottom: 20px;
  outline: 2px solid #191b1e;
  border: 2px solid #191b1e;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  color: #c4cfde;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: .9;
  transition: 0.4s;
}

@mixin bottomLine() {
  position: absolute;
  background-color: #121415;
  content: '';
  max-width: 1270px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}