$bgColor: #212428;
$elementBgColor: #1f2125;
$elementHoveredBgColor: #17191d;
$textColor: #c4cfde;
$colorPrimary: #ff014f;
$fontPrimary: 'Poppins', sans-serif;
$fontSecondary: 'Montserrat', sans-serif;
$transition: 0.4s;