@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.block {
  padding: 100px 0 100px 0;
  position: relative;

  .container {
    @include container();
    padding: 0 15px;
    @include flex(column, center, center, wrap);
    width: 100%;

    .formWrapper {
      width: 100%;
      @media (min-width: 768px) {
        width: 80%;
      }
      @media (min-width: 992px) {
        width: 60%;
      }
      @media (min-width: 1200px) {
        width: 50%;
      }
    }
  }

  &::after {
    @include bottomLine();
  }
}
