.projectsBlock {
    background-color: #dbd5ec;
}

.projectsContainer {
    flex-direction: column;
}

.title {
    background-color: darkgrey;
    margin: 10px 0;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
