@import '../common/styles/sass/variables';

.projectsBlock {
  background-color: $bgColor;

  .projectsContainer {
    flex-direction: column;

    .projects {
      //border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      @media screen and (max-width: 629px) {
        justify-content: center;
      }
    }
  }
}

