@import '../common/styles/sass/variables';

.projectsBlock {
  //border: 3px solid red;
  padding: 100px 0 100px 0;
  position: relative;

  .projectsContainer {
    //border: 1px solid;
    flex-direction: column;

    .projectsWrapper {
      //border: 1px solid;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      @media screen and (max-width: 629px) {
        justify-content: center;
      }
    }
  }

  &::after {
    position: absolute;
    width: 80rem;
    height: 1px;
    background-color: #121415;
    bottom: 0;
    content: '';
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

